# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# CocoaPods
/ios/Pods/

*.code-workspace

ToDos:
- verifying valid email address regex
- datepicker library
- heroku home page
- build APK
- token refresh:
  - Make a wrapper around token storage functions. 
  - When you receive a token from server, it usually includes refresh token and token lifetime too. Save that information together with when the token was obtained. 
  - When you load a token, the wrapper should check if the token has already expired. Refresh if required. 
  - If refresh doesn't work, show login screen

Future development:
- export CSV
- add a category to each expense item, and be able to sort/filter
- take a picture of the receipt and storing the photo in media storage
